**SQL Exercises for Project 3**

Part 1: W3Schools SQL Lab

Introductory level SQL

--

This challenge uses the W3Schools SQL playground. Please add solutions to this markdown file and submit.

**Which customers are from the UK?**
SELECT CustomerName FROM Customers
WHERE Country = 'UK';

Around the Horn 
B's Beverages 
Consolidated Holdings 
Eastern Connection 
Island Trading 
North/South 
Seven Seas Imports 

**What is the name of the customer who has the most orders?**
SELECT CustomerID, count(*) AS num_orders FROM Orders
GROUP BY CustomerID;
CustomerID 20 has 10 orders. 
SELECT * FROM Customers WHERE CustomerID=20;
CustomerName
Ernst Handel 

**Which supplier has the highest average product price?**

SELECT SupplierID, AVG(Price) FROM Products GROUP BY SupplierID ORDER BY AVG(Price);
Then a second search: 
SELECT * FROM Suppliers WHERE SupplierID=18;
Supplier 18 (Aux joyeux eccl√©siastiques) has the highest average product price, 140.75

**How many different countries are all the customers from? (Hint: consider DISTINCT.)**
SELECT DISTINCT Country FROM Customers GROUP BY Country;
Number of Records: 21
The customers are from 21 different countries.

**What category appears in the most orders?**
SELECT Products.CategoryID, OrderDetails.OrderID, COUNT(OrderID) as num_Orders
FROM Products
LEFT JOIN OrderDetails
ON Products.ProductID=OrderDetails.ProductID
GROUP BY CategoryID
ORDER BY COUNT(OrderID);

Category 4 appears in the most orders--it appears in 100 orders.

**What was the total cost for each order?**
SELECT OrderDetails.OrderID, SUM (OrderDetails.Quantity*Products.Price) as order_total_price
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID=Products.ProductID
GROUP BY OrderDetails.OrderID;

**Which employee made the most sales (by total price)?**


**Which employees have BS degrees? (Hint: look at the LIKE operator.)**


**Which supplier of three or more products has the highest average product price? (Hint: look at the HAVING operator.)**